@keyframes music-dance {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }

    to {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes title-dance {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes progressThick {
    0% {
        height: 4px;
    }

    to {
        height: 6px;
    }
}

@keyframes progressNoneThick {
    0% {
        height: 6px;
    }

    to {
        height: 4px;
    }
}

@keyframes controllerDance {
    0% {
        height: 0;
    }

    to {
        height: 135px;
    }
}

@keyframes controllerHide {
    to {
        height: 0;
    }

    from {
        height: 135px;
    }
}


.little-player-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid hsla(0,0%,100%,.32);
    box-sizing: border-box;
    z-index: 10;
    width: 135px;
    height: auto;
}

.little-player-self{
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.little-player-controller {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-image: url("https://blog-1251618686.cos.ap-guangzhou.myqcloud.com/abouts/covers/break-out.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.little-player-controller-hover {
    animation: controllerDance 0.3s ease-in-out forwards;
}

.little-player-controller-hide{
    animation: controllerHide 0.3s ease-in-out forwards;
}


.little-player-play-title {
    font-size: 14px;
    min-width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
}

.little-player-play-icon {
    width: 32px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.little-player-column {
    width: 2px;
    height: 14px;
    margin-right: 2px;
    transform-origin: center bottom;
    background-color: #fff;
}

.little-playing .little-player-column {
    animation: music-dance 1s linear infinite;
    animation-direction: reverse;
}

.hover .little-player-column {
    width: 2px;
    height: 14px;
    margin-right: 2px;
    transform-origin: center bottom;
    /*animation: music-dance 1s linear infinite;*/
    /*animation-direction: reverse;*/
    background-color: #4becff;
}

.little-player-column:first-child {
    transform: scaleY(0.25);
}

.little-player-column:nth-child(2) {
    transform: scaleY(0.55);
    animation-delay: .2s;
}

.little-player-column:nth-child(3) {
    transform: scaleY(0.75);
    animation-delay: .4s;
}

.little-player-column:last-child {
    animation-delay: .6s;
}

.little-player-play-title{
    overflow: hidden;
}

.little-player-play-title-prefix .little-player-play-title-box{
    width: 100%;
    animation: title-dance 5s linear infinite;
}


.little-player-control-wrap{
    position: absolute;
    width: 135px;
    height: 32px;
    bottom: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.little-control-before{
    cursor: pointer;
    width: 45px;
    height: 32px;
    background-image: url("https://blog-1251618686.cos.ap-guangzhou.myqcloud.com/abouts/next.png");
    transform: rotate(180deg);
}

.little-control-before:hover{
    background-image: url("https://blog-1251618686.cos.ap-guangzhou.myqcloud.com/abouts/before.png");
}

.little-control-play {
    cursor: pointer;
    width: 45px;
    height: 32px;
    background-image: url("https://blog-1251618686.cos.ap-guangzhou.myqcloud.com/abouts/play.png");
}

.little-control-play:hover {
    background-image: url("https://blog-1251618686.cos.ap-guangzhou.myqcloud.com/abouts/hover.png");
}

.little-control-play-playing {
    background-image: url("https://blog-1251618686.cos.ap-guangzhou.myqcloud.com/abouts/playing.png");
    cursor: pointer;
    width: 45px;
    height: 32px;
}

.little-control-play-playing:hover {
    cursor: pointer;
    width: 45px;
    height: 32px;
    background-image: url("https://blog-1251618686.cos.ap-guangzhou.myqcloud.com/abouts/playing-ac.png");

}

.little-control-after{
    cursor: pointer;
    width: 45px;
    height: 32px;
    background-image: url("https://blog-1251618686.cos.ap-guangzhou.myqcloud.com/abouts/next.png");
}

.little-control-after:hover{
    background-image: url("https://blog-1251618686.cos.ap-guangzhou.myqcloud.com/abouts/before.png");
}

.little-progress-wrap {
    width: 100%;
    height: 4px;
    position: absolute;
    left:0;
    bottom:0;
    background-color: #000;
    cursor: pointer;
    transform-origin: center bottom;
    z-index: 0;
}

.thick {
    animation: progressThick 0.15s forwards;
}

.none-thick {
    animation: progressNoneThick 0.15s forwards;
}

.little-player-play-progress {
    background-color: #3a91ff;
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    /*width: 50%;*/
    transform-origin: center bottom;
    z-index: 10;
}

.little-player-buffer-progress {
    background-color: #838b8b;
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    transform-origin: center bottom;
    z-index: 5;
}

.little-info-default {
    color: #fff;
}

.little-info-active{
    color: #4becff;
}



